/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"); */

@font-face {
  font-family: "CryptOfTomorrow";
  src:
    local('CryptOfTomorrow'),
    url('./assets/fonts/cryptoftomorrow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mars";
  src:
    local('Mars Needs Cunnilingus'),
    url('./assets/fonts/Mars-Needs-Cunnilingus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "8bitoperator_jve";
  src:
    local('8bitoperator_jve'),
    url('./assets/fonts/8bitOperatorPlus-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Comic Neue";
  src:
    local('Comic Neue'),
    url('./assets/fonts/ComicNeue-Regular.ttf') format('truetype'),
    url('./assets/fonts/ComicNeue-Bold.ttf') format('truetype'),
    url('./assets/fonts/ComicNeue-BoldItalic.ttf') format('truetype'),
    url('./assets/fonts/ComicNeue-Light.ttf') format('truetype'),
    url('./assets/fonts/ComicNeue-LightItalic.ttf') format('truetype'),
    url('./assets/fonts/ComicNeue-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* __________________ ICONS __________________*/
.bi {
  fill: #e5e5e5;
  background-color: transparent;
  height: 24px;
  width: 24px;
}

.bi-bell-fill {
  height: 20px;
  width: 20px;
}

.bi-heart-fill {
  height: 16px;
  width: 16px;
  margin-bottom: 4px;
  margin-left: 4px;
  fill: transparent;
}

.bi-arrow-left-short {
  height: 32px;
  width: 32px;
  /* margin-left: 8px; */
}

.bi-three-dots-vertical {
  height: 16px;
  width: 16px;
}

.bi-circle-fill {
  height: 8px;
  width: 8px;
  fill: rgba(201, 111, 38, 1);
}

/* __________________ GLOBAL __________________*/

* {
  background-color: transparent;
  color: #e5e5e5;
  /* margin: 0;
  padding: 0; */
}

body {
  background-color: #121212;
}

/* typescale 1.333 */

h1 {
  font-family: "CryptOfTomorrow";
  font-size: 90px;
}

h2 {
  font-family: "8bitoperator_jve";
  font-size: 51px;
}

h3 {
  margin-top: 8px;
  font-family: "8bitoperator_jve";
  font-size: 21px;
}

h4 {
  font-family: "Comic Neue";
  font-size: 12px;
}

p {
  font-family: "Comic Neue";
  font-size: 16px;
}


.get_username {
  font-weight: bold;
  margin-left: 8px;
}




/* .container__main {
  height: 100%;
  width: 100%;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
} */

.wrapper-btn-connexionpage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* __________________ BUTTONS __________________*/

.wrapper-btn-connexionpage>.btn-orange {
  height: 80px;
  width: 380px;
  margin: 8px;

}

.btn-orange {
  height: fit-content;
  width: fit-content;
  color: #C96F26;
  border: solid #C96F26;
  /* font-family: "8bitoperator_jve"; */
  font-family: "mars";
  font-size: 28px;
  padding: 4px 8px 4px 8px;
  white-space: nowrap;

  &:active:focus {
    color: rgba(194, 183, 0, 0.8);
    border-color: rgba(194, 183, 0, 0.8);
  }

  &:hover {
    color: rgb(194, 183, 0);
    border-color: rgb(194, 183, 0);
  }

  &:active {
    color: rgba(194, 183, 0, 0.8);
    border-color: rgba(194, 183, 0, 0.8);
  }
}

.btn-orange--sm {
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 16px;

}


.btn-img {
  border: none;
  text-decoration: none;
}


.btn-heart {
  /* padding: 8px 4px 8px 4px; */
  width: fit-content;
  border: none;
  height: 40px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
  font-family: "8bitoperator_jve";
  font-size: 21px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  & .bi-heart-fill {
    left: 5%;
  }

  &:hover {
    &>svg {
      fill: red;
      /* stroke : red; */
    }
  }

}

.btn-heart-sm {
  font-size: 12px;
  margin: 0px 4px 0px 4px;
  height: 32px;

  & .bi-heart-fill {
    width: 12px;
    height: auto;
  }
}

.btn-heart-md {
  font-size: 16px;
  margin: 0px 4px 0px 4px;
  height: 32px;

  & .bi-heart-fill {
    width: 14px;
    height: auto;
  }
}

.btn-heart__title {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translate(0, -50%);
}

/* __________________ MODALS __________________*/
.modal-content {
  background-color: #121212;
  color: #e5e5e5;
  border: solid #e5e5e5;
  border-width: 8px;
  border-radius: 0%;
}

.modal-body {
  display: grid;
  place-items: center;
}

.modal-header {
  border: none;
  height: fit-content;
  padding-top: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.modal-footer {
  justify-content: center;
  border: none;
}

.modal-title {
  height: fit-content;
  font-size: 28px;
  font-family: "8bitoperator_jve";
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
}

.modal__input {
  width: 70%;
  margin: 16px;
  border: 1px solid #e5e5e5;
  padding: 16px;
}