.dropdown-menu {

  max-height: 300px;
  overflow-y: scroll;
}
.caret-off::before {
  display: none !important;
}
.caret-off::after {
  display: none !important;
}

.navbar {
  height: 64px;
}

.modal-body {
  display: grid;
  place-items: center;
}

#user-chat-top {
  height: 64px;
}
#user-chat-bottom {
  height: 88px;
}
.main {
  height:900px;
}